<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>El usuario: <%= @contact.email %></h1> ha solicitado registrarse como manager.</h1>
    <p>Para habilitarlo, dirigirse al panel de administrador.</p>
  </body>
</html>
