<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Proyecto Alimentar, <%= @user.name %></h1>
    <p>
      En breve su solicitud para administrar una heladera será resuelta.
    </p>
    <p>
       <%= @url %>.
    </p>
    <p>Ante cualquier consulta, no dudes en contactarnos a info@proyectoalimentar.org!</p>
  </body>
</html>
