<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Un producto está por vencer en breve.
    </p>
    <p>
       <%= @product.name %>.
    </p>
    <p>
       <%= @product.expiration_date %>.
    </p>
    <p>Ante cualquier consulta, ¡no dudes en contactarnos a info@proyectoalimentar.org!</p>
  </body>
</html>
