@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datepicker3';
@import 'variables/colors';

@import 'overrides/bootstrap_overrides';

@import 'commons';
@import 'https://fonts.googleapis.com/css?family=Oswald:700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.form-control[readonly]{
	background-color: white !important;
}
.login{
	margin: 0 auto;
	text-align: center;
	margin-top: 15%;

	.recover-title{
		font-family:AvenirNext-Bold;
		font-size:28px;
		color:#4a4a4a;
	}

	.title{
		font-family:AvenirNext-Bold;
		font-size:36px;
		color:#4a4a4a;
		text-align: center;
	}

	.input{
		background:#ffffff;
		box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
		border-radius:3px;
		margin-top: 20px;
		border:2px solid #fdb949;
		width:435px;
		height:53px;
		font-family:'Open Sans';
		font-size:16px;
		color:#4a4a4a;
		letter-spacing:0px;
		text-align:center;
	}

	.main-button{
		border-radius:6px;
		margin-top: 20px;
		background:#fdb949;
		border:3px solid #fdb949;
		width:240px;
		height:51px;

		font-family:Oswald;
		font-size:25px;
		color:#ffffff;
		letter-spacing:0px;
		line-height:39px;
		text-align:center;
	}

	.secondary-button{
		text-align: center;
		vertical-align: center;
		border-radius:6px;
		padding-top: 7px;
		background:#f39700;
		border:3px solid #f39700;
		width:240px;
		height:51px;
		font-family:Oswald;
		font-size:25px;
		color:#ffffff;
		letter-spacing:0px;
		line-height:39px;
		text-align:center;
	}

	.recover{
		font-family:AvenirNext-Medium;
		font-size:16px;
		color:#4a4a4a;
		margin-top: 15px;
		text-align: right;
	}
}

.storage-list{

	.favorite{
		width: 80%;
	}

	h2{
		text-decoration: underline;
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:24px;
		color:#4a4a4a;
	}

	h4{
		text-decoration: underline;
		margin-bottom: 33px;
		font-family:AvenirNext-Medium;
		font-size:18px;
		color:#4a4a4a;
	}

	h3{
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:20px;
		color:#4a4a4a;
	}

	.map{
		width: 100%;
		height: 200px;
		border: 1px solid #979797;
		margin-top: 50px;

		img{
			max-width: 100%;
			height: 100%;
		}
	}

	.favorite-button{
		float: right;
    	margin-top: 20px;
    	width: 60%;
	}

	.storage-information{
		margin-top: 33px;
	}

	table{
		width: 80%;
		text-align: center;
	}

	th{
		text-align: center;
	}
}

.header{
	a{
		margin-right: 10px;
	}
}

.storage-edit{
	.edit-form{
		width: 80%;
    	margin: auto;
	}

	.form-input{
		margin-bottom: 15px;
	}

	.filters{
		.form-group{
			margin-right: 20px;

			label{
				margin-right: 20px;
			}
		}
	}
}

.field {
	justify-content: center;
	display:flex;

}

.navbar-static-top  {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    position: fixed !important;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.15);
    top: 0;
}

h1 {
	font-family:Oswald;
	font-size:70px;
	color:#000000;
	letter-spacing:0px;
	line-height:87px;
	text-align:left;
}

h2 {
	font-family:Oswald;
	font-size:45px;
	color:#000000;
	letter-spacing:0px;
	line-height:70px;
	text-align:left;
}

h3 {
	font-family:Oswald;
	font-size:32px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

h4 {
	font-family:OpenSans-Extrabold;
	font-size:18px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.navbar-brand {
	padding-bottom: 100px;
}

.navbar-link {
	font-family:'Open Sans';
	font-size:20px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
	padding-right:30px;
}

.storage-list, .storage-edit {
	padding-top:100px;
}

.form-group input, .btn-primary{
	background:#fdb949 !important; 
	border-color:#fdb949 !important;
	border:3px solid #fdb949;
	border-radius:3px;
	margin-top: 20px;
	width:200px;
	height:53px;
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0px;
	text-align:center;
	font-family:Oswald;
	color:#ffffff;
	letter-spacing:0px;
	line-height:39px;
	text-align:center;
}

.storage-information, .storage-list h4 {
	font-family:'Open Sans';
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.products h3 {
	font-family:'Open Sans';
	font-size:20px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.products th {
	font-family:Oswald;
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.products td {
	font-family:'Open Sans';
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;	
}

.form-input input, .fields input{
	background:#ffffff;
	box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	border-radius:3px;
	margin-top: 20px;
	border:2px solid #fdb949;
	width:435px;
	height:53px;
	font-family:'Open Sans';
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0px;
	text-align:left;
}

.btn-secondary {
	background:#f39700;
	width:435px;
	height:53px;
	border-radius:3px;
	margin-top: 20px;
	font-family:'Oswald';
	font-size:16px;
	color:#fff;
	letter-spacing:0px;
	text-align:left;
}

.footer-base {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #4a4a4a;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.h3-footer {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 5px;
}

.h2-footer {
    font-size: 20px;
    color: #FF9E16;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px; 
}