@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datepicker3';
@import 'variables/colors';

@import 'overrides/bootstrap_overrides';

@import 'commons';
@import 'https://fonts.googleapis.com/css?family=Oswald:700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
  --orange1: #fdb949;
  --orange2: #f39700;
  --green1: #458B00;
  --green2: #3B5323;
}

.form-control[readonly]{
	background-color: white !important;
}
.login{
	margin: 0 auto;
	text-align: center;

	.recover-title{
		font-family:Oswald;
		font-size:28px;
		color:#4a4a4a;
	}

	.title{
		font-family:Oswald;
		font-size:36px;
		color:#4a4a4a;
		text-align: center;
	}

	.input{
		background:#ffffff;
		box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
		border-radius:3px;
		margin-top: 20px;
		border:2px solid var(--orange1);
		width:435px;
		height:53px;
		font-family:'Oswald';
		font-size:16px;
		color:#4a4a4a;
		letter-spacing:0px;
		text-align:center;
	}

	.main-button{
		border-radius:6px;
		margin-top: 20px;
		background:var(--orange1);
		border:0px solid var(--orange1);
		width:240px;
		height:51px;

		font-family:Oswald;
		font-size:25px;
		color:#ffffff;
		letter-spacing:0px;
		line-height:39px;
		text-align:center;
	}

	.recover{
		font-family:AvenirNext-Medium;
		font-size:16px;
		color:#4a4a4a;
		margin-top: 15px;
		text-align: right;
	}
}

.storage-list{

	.favorite{
		width: 40%;
		margin-left: 3%;
	}

    .confirm{
        width: 100%;
        margin-left: 3%;
    }

    .map-index{
        width: 100%;
        height: 700px;
        border: 1px solid #979797;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #target {
        width: 345px;
    }

    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }

    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }

    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 300px;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    .pac-container {
      font-family: Roboto;
    }


	.new-storage-unit {
		background-color:var(--orange2)!important;
		border-color:var(--orange2)!important;
		margin-top:20px;
	}

	.right{
	    float: right !important;
	}

	h2{
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:24px;
		color:#4a4a4a;
	}

	h4{
		margin-bottom: 33px;
		font-family:AvenirNext-Medium;
		font-size:18px;
		color:#4a4a4a;
	}

	h3{
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:20px;
		color:#4a4a4a;
	}

	.map{
		width: 100%;
		height: 250px;
		border: 1px solid #979797;

		img{
			max-width: 100%;
			height: 100%;
		}
	}

	.favorite-button{
		float: right;
    	margin-top: 20px;
    	width: 60%;
	}

	.storage-information{
		margin-top: 33px;
	}

	table{
		width: 80%;
		text-align: center;
	}

	th{
		text-align: center;
	}
}

.header{
	a{
		margin-right: 10px;
	}
}

.storage-edit{
	.edit-form{
		width: 100%;
    	margin: auto;

        .map{
            width: 100%;
            height: 200px;
            border: 1px solid #979797;
            margin-top: 10px;

            img{
                max-width: 100%;
                height: 100%;
            }
        }

        .pac-input{
            width: 300px;
        }
	}

	.form-input{
		margin-bottom: 0px;
	}

	.filters{
		.form-group{
			margin-right: 20px;

			label{
				margin-right: 20px;
			}
		}
	}
}

.field {
	justify-content: center;
	display:flex;

}

.navbar-static-top  {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.15);
    top: 0;
}

h1 {
	font-family:Oswald;
	font-size:70px;
	color:#000000;
	letter-spacing:0px;
	line-height:87px;
	text-align:left;
}

h2 {
	font-family:Oswald;
	font-size:45px;
	color:#000000;
	letter-spacing:0px;
	line-height:70px;
	text-align:left;
}

h3 {
	font-family:Oswald;
	font-size:32px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

h4 {
	font-family:OpenSans-Extrabold;
	font-size:18px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.navbar-brand {
	padding-top:5px !important;
}

.navbar-link {
	font-family:'Open Sans';
	font-size:20px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
	padding-right:30px;
}

.storage-list, .storage-edit {
	padding-top:90px;
}

.btn-primary{
	background: var(--orange1) !important;
	border-color: var(--orange1) !important;
	border: 0px solid var(--orange1);
	border-radius: 3px;
	width: 200px;
	height: 39px;
	font-size: 16px;
	color: #4a4a4a;
	letter-spacing: 0px;
	text-align: center;
	font-family: Oswald;
	color: #ffffff;
	letter-spacing: 0px;
	line-height: 39px;
	text-align: center;
	padding: 0;
}

.storage-information, .storage-list h4 {
	font-family:'Open Sans';
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.products h3 {
	font-family:'Open Sans';
	font-size:20px;
	color:#000000;
	letter-spacing:0px;
	text-align:left;
}

.products th {
	font-family:Oswald;
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.products td {
	font-family:'Open Sans';
	font-size:16px;
	color:#000000;
	letter-spacing:0px;
	text-align:center;
}

.orange-input{
	background:#ffffff;
	box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	border-radius:3px;
	margin-top: 20px;
	border:2px solid var(--orange1);
	width:200px;
	height:40px;
	font-family:'Open Sans';
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0px;
	text-align:left;
	margin-bottom:30px;
	margin-top:0px;
}

.btn-secondary {
	background:var(--orange2);
	width:435px;
	height:53px;
	border-radius:3px;
	margin-top: 20px;
	font-family:'Oswald';
	font-size:16px;
	color:#fff;
	letter-spacing:0px;
	text-align:left;
}

.btn-text {
	font-family:Oswald;
	font-size:25px;
	color:#ffffff;
	letter-spacing:0px;
	line-height:39px;
	text-align:center;
}

form {
	display: flex;
	flex-direction:column;
}

select {
	width:200px;
 	-webkit-border-radius: 5px;
   	-moz-border-radius: 5px;
   	border-radius: 5px;
   	  background: no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   margin-bottom:20px !important;
   margin-right:20px !important;
}

a.btn-primary.new-donation {
	background-color:var(--orange2) !important;
	border-color:var(--orange2) !important;
	margin-bottom: 30px;
}

.submit-donation {
	background-color:var(--green1) !important;
	border-color:var(--green2)!important;
	margin-bottom: 30px!important;
}

.submit-extraction {
    background-color:var(--orange2) !important;
    border-color:var(--orange2)!important;
    margin-bottom: 30px!important;
}

a.btn-primary.add-new-donation {
	margin-bottom: 30px;
}

.btn-extractions {
margin-bottom: 30px!important;
}

.footer-base {
    position: absolute;
    width: 100%;
    height: 275px;
    background: #4a4a4a;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-logo {
    margin-bottom: 20px;
}

body {
    min-height:100%;
    position:relative;
}
.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:275px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-logo-icon {
    width: 75px;
    display: block;
    margin: 0 auto 5px;
}
.footer-logo-text {
    width: 250px;
    display: block;
    margin: 0 auto;
}
.h3-footer {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 5px;
}
.rights {
    color: #FFF;
}
.h2-footer {
    font-size: 20px;
    color: #FF9E16;
}

.container-fluid {
	width: 100%;
}
.section {
	margin-top: 90px;
}

.header {
	background: #fff;
	z-index: 1;
}

.navbar-link {
  font-family: 'Open Sans', sans-serif;
	color: #777;
}

.align-left {
	text-align: left;
}

.contact-sector {
	background-image: asset-url("background-login.jpg");
	height: 450px;
}

.contact-sector-title {
	color: white!important;
	text-align: center;
	padding: 60px 0;
	font-size: 36px;
}

.contact-sector-text {
	color: white;
	text-align: center;
	padding: 20px 30px;
}

.padding-top-secondary-button {
	padding-top: 55px;
}

.secondary-button{
	text-align: center;
	vertical-align: center;
	border-radius:6px;
	border:3px solid var(--orange2);
	width:200px;
	height:51px;
	color: #fff;
	font-family:Oswald;
	font-size:25px;
	letter-spacing:0px;
	line-height:39px;
	text-align:center;
}

.primary-button{
    text-align: center;
    vertical-align: center;
    border-radius:6px;
    border:3px solid var(--orange2);
    width:200px;
    height:51px;
    color: #000;
    font-family:Oswald;
    font-size:25px;
    letter-spacing:0px;
    line-height:39px;
    text-align:center;
    background-color: #fff;
}

.center-button {
	display: flex;
	justify-content: center;
}
.padding-top-container {
	padding-top: 50px;
}

.see-detail-info {
	padding-right: 10px;
}

.see-edit-detail-info {
	display: flex;
}

.barcode {
	margin-right: 30px;
}
//------------------------------
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Oswald:400,700);
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
footer,
header,
nav,
section {
    display: block
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
figcaption,
figure,
main {
    display: block
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
pre {
    font-family: monospace, monospace;
    font-size: 1em
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: inherit
}
b,
strong {
    font-weight: bolder
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
dfn {
    font-style: italic
}
mark {
    background-color: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
audio,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
img {
    border-style: none
}
svg:not(:root) {
    overflow: hidden
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}
progress {
    display: inline-block;
    vertical-align: baseline
}
textarea {
    overflow: auto
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
details,
menu {
    display: block
}
summary {
    display: list-item
}
canvas {
    display: inline-block
}
template {
    display: none
}
[hidden] {
    display: none
}
.base-text {
    color: #000;
    font-weight: bold
}
.base-text.white {
    color: #fff
}
.base-text.black {
    color: #000
}
.base-text.grey {
    color: #4A4A4A
}
.base-text.orange {
    color: #FDB949
}
.base-text.upper {
    text-transform: uppercase
}
.headline1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    line-height: 87px
}
.headline2 {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    line-height: 70px
}
.headline3 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    line-height: 47px
}
.headline4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bolder
}
.title1 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px
}
.title2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27px
}
.text1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}
.text2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400
}
.text3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 20px
}
.field {
    box-sizing: border-box;
    width: 100%
}
.base-input {
    height: 50px
}
.base-textarea {
    height: 120px;
    resize: none
}
.base-button,
.base-button:active {
    background: #FDB949;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
    min-width: 240px;
    padding: 0 15px;
    text-transform: uppercase;
    border: 0
}
.base-button:focus,
.base-button:active:focus {
    background: #F39700
}
.radio {
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block
}
.radio-input {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer
}
.radio-input:focus {
    outline: none
}
.radio-container {
    border-radius: 100%;
    border: 2px solid #FDB949;
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 0
}
.radio-fill {
    background: #FDB949;
    width: 0;
    height: 0;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in, height 0.2s ease-in;
    pointer-events: none;
    z-index: 1
}
.radio-input:checked ~ .radio-fill {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    transition: width 0.2s ease-out, height 0.2s ease-out
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
    margin: 0
}
body {
    background: #fff
}
.logo {
    height: 50px
}
.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    top: 0
}
.section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center
}
.section.grey {
    background: #4A4A4A
}
.section.orange {
    background: #FDB949
}
.section.section-main {
    height: calc(100vh - 90px);
    background: url("../assets/bc_home.png");
    box-sizing: border-box;
    margin-top: 90px;
    background-attachment: fixed
}
.main-content-wrapper {
    background: #fff;
    padding: 60px 45px
}
.main-content-wrapper .headline2 {
    margin-bottom: 10px
}
.main-content-wrapper .headline1 {
    margin-bottom: 40px
}
.section-steps .headline3 {
    margin-bottom: 15px
}
.section-steps .title2 {
    margin-bottom: 60px
}
.steps {
    width: calc(100%-40px)
}
.step .step-image {
    margin-bottom: 50px
}
.step .headline4 {
    margin-bottom: 15px
}
.step .text1 {
    max-width: 300px;
    margin: 0 auto
}
.section-volunteer .headline3 {
    margin-bottom: 20px
}
.section-volunteer .title2 {
    margin-bottom: 30px
}
.section-clients {
    padding: 0
}
.client-types {
    background: #FDB949;
    display: -ms-flexbox;
    display: flex
}
.donor-type {
    background: url("../assets/bc_donor.png")
}
.volunteer-type {
    background: url("../assets/bc_comedor.png")
}
.client-type {
    height: 330px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 45px 75px;
    box-sizing: border-box
}
.client-type:first-child {
    margin-right: 7px
}
.client-type:last-child {
    margin-left: 7px
}
.client-type-content {
    background: #fff;
    height: 220px;
    padding: 25px 45px
}
.client-type-content .headline3 {
    margin-bottom: 20px
}
.client-type-content .title2 {
    margin-bottom: 30px
}
.section-facts .headline3 {
    margin-bottom: 45px
}
.facts {
    width: calc(100% - 40px)
}
.fact .title2 {
    margin-bottom: 30px
}
.fact .text1 {
    max-width: 300px;
    margin: 0 auto
}
.participants-section .headline3 {
    margin-bottom: 30px
}
.participants-section .text2 {
    margin-bottom: 80px
}
.participants {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1280px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.participants .participant {
    max-width: 300px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 40px;
    box-sizing: border-box
}
.participants .participant .participant-image {
    margin-bottom: 25px
}
.participants .participant .title1 {
    margin-bottom: 10px
}
.participants .participant .text3 {
    margin-bottom: 5px
}
.section-content-wrapper {
    max-width: 940px
}

.footer .logo {
    margin-bottom: 20px;
    height: 104px
}
.footer .social-link {
    margin-bottom: 20px
}
.section-contact .headline3 {
    margin-bottom: 30px
}
.section-contact .section-description {
    max-width: 600px;
    margin: 0 auto 40px
}
.contact-form {
    max-width: 400px;
    width: 100%
}
.input-wrapper {
    text-align: left;
    margin-bottom: 30px
}
.input-wrapper .input-label {
    display: block;
    margin-bottom: 10px
}
.input-wrapper .base-input {
    padding-left: 10px
}
.input-wrapper .base-textarea {
    padding-left: 10px;
    padding-top: 15px
}
.input-wrapper-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}
.input-wrapper-inline .radio-input {
    left: 0
}

.red-label {
    color: red;
}

.green-label {
    color: green;
}

.cancel-product {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.itba-logo {
    height: 50px;
    width: 200px;
    padding-left: 50px;
}
