@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datepicker3';
@import 'variables/colors';

@import 'overrides/bootstrap_overrides';

@import 'commons';

.login{
	margin: 0 auto;
	text-align: center;
	margin-top: 15%;
	width: 300px;

	.recover-title{
		font-family:AvenirNext-Bold;
		font-size:28px;
		color:#4a4a4a;
	}

	.title{
		font-family:AvenirNext-Bold;
		font-size:36px;
		color:#4a4a4a;
	}

	.input{
		background:#ffffff;
		border:1px solid #979797;
		box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
		border-radius:3px;
		width:298px;
		height:34px;
		margin-top: 20px;
	}

	.main-button{
		border:1px solid #979797;
		border-radius:6px;
		height:34px;
		margin-top: 20px;
		width:298px;
	}

	.secondary-button{
		border:1px solid #979797;
		text-align: center;
		vertical-align: center;
		border-radius:6px;
		width:300px;
		height:34px;
		padding-top: 7px;
	}

	.recover{
		font-family:AvenirNext-Medium;
		font-size:16px;
		color:#4a4a4a;
		margin-top: 15px;
		text-align: right;
	}
}

.storage-list{

	.favorite{
		width: 80%;
	}

	h2{
		text-decoration: underline;
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:24px;
		color:#4a4a4a;
	}

	h4{
		text-decoration: underline;
		margin-bottom: 33px;
		font-family:AvenirNext-Medium;
		font-size:18px;
		color:#4a4a4a;
	}

	h3{
		font-family:AvenirNext-Bold;
		text-transform: capitalize;
		font-size:20px;
		color:#4a4a4a;
	}

	.map{
		width: 100%;
		height: 200px;
		border: 1px solid #979797;
		margin-top: 50px;

		img{
			max-width: 100%;
			height: 100%;
		}
	}

	.favorite-button{
		float: right;
    	margin-top: 20px;
    	width: 60%;
	}

	.storage-information{
		margin-top: 33px;
	}

	table{
		width: 80%;
		text-align: center;
	}

	th{
		text-align: center;
	}
}

.header{
	a{
		margin-right: 10px;
	}
}

.storage-edit{
	.edit-form{
		width: 80%;
    	margin: auto;
	}

	.form-input{
		margin-bottom: 15px;
	}

	.filters{
		.form-group{
			margin-right: 20px;

			label{
				margin-right: 20px;
			}
		}
	}
}
